.button__get {
    background-color: var(--primaryGreenColor);
    border-radius: 500px;
    padding: 10px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.64px;
}

.button__get::after {
    content: '';
    width: 14px;
    height: 14px;
    background-color: var(--primaryTextColor);
    border-radius: 50%;
}