.contactUs__section {
    padding-top: 36px;
    scroll-margin: 24px;
}

.contactUs__title {
    text-align: center;
    margin-bottom: 24px;
}

.main__wrap {
    width: 244px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 24px;
}

.contactUs__postTitle {
    letter-spacing: -0.64px;
    margin-bottom: 8px;
}

.tel__item:not(:last-child) {
    margin-bottom: 8px;
}

.contactUs__link {
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: justify;
    font-size: 16px;
    letter-spacing: -0.8px;
   
}

.contactUs__link:hover svg,.contactUs__link:focus svg {
    stroke: var(--primaryGreenColor);
        transition: all 250ms var(--timingFunction);
}

.social__list {
    display: flex;
    row-gap: 8px;
}

.social__item {
    width: 48px;
    height: 48px;
    padding: 12px;
}

@media screen and (min-width: 768px) {
    .contactUs__section {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .contactUs__title {
        grid-column: span 2;
    }

    .main__wrap {
        
    }
}