.about__section {
    padding-top: 24px;
    margin: 0 auto;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__title {
    width: 319px;
    margin-bottom: 24px;
}

.about__postTitle {
    text-align: justify;
    margin-bottom: 36px;
    letter-spacing: -0.64px;
}

.block__list {
    display: flex;
    justify-content: center;
}

.card__list {
    display: flex;
    gap: 24px;
}

.about__img {
    display: none;
}

@media screen and (min-width: 768px) {
    .about__img {
        display: flex;
    }

    .about__title {
        width: 272px;
        font-size: 36px;
        margin: 0;
    }

    .about__postTitle {
        margin: 0;
        display: flex;
        gap: 11px;
    }
    
    .about__postTitle::before {
        content: '';
        width: 1px;
        height: 110px;
        background-color: var(--primaryGreenColor);
    }

    .main__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .block__list {
        flex-direction: column;
        gap: 24px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    .about__title {
        width: 365px;
        font-size: 48px;
    }

    .about__postTitle {
        gap: 161px;
    }

    .about__postTitle::before {
        width: 1px;
        height: 87px;
    }

    .main__wrapper {
       gap: 48px;
    }

    .block__list {
        gap: 48px;
    }

    .about__img {
        width: 450px;
        height: 350px;
    }
}