.secondary__button {
    display: inline-flex;
    height: 39px;
    padding: 4px 4px 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 500px;
    border: 1px solid var(--primaryGreenColor);
    line-height: 112.5%; /* 18px/16 */
    letter-spacing: -0.64px;
    transition: all 250ms var(--timingFunction);
}

.secondary__button:hover,.secondary__button:focus {
    background-color: var(--primaryTextColor);
    border: 1px solid var(--primaryTextColor);
    color:var(--primaryGreenColor);
}
