.whatIsIt__section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 222px;
}

.whatIsIt__section::after {
    content:'';
    width: 100%;
    height: 1px;
    background-color: var(--primaryGreenColor);
    margin-top: 24px;
}

.whatIsIt__title {
    width: 320px;
    font-size: 36px;
    margin-bottom: 24px;
}

.whatIsIt__postTitle {
    margin-bottom: 24px;
    text-align: justify;
}

.button__wrap {
    margin: 0 auto;
}
