.adress {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.adress__link {
    letter-spacing: -0.64px;
    transition: all 250ms var(--timingFunction);
}

.adress__link:hover,.adress__link:focus {
   color: var(--primaryGreenColor);
}

.adress__text {
    display: none;
}