.electricProd__section {
    text-align: center;
    padding-top: 36px;
}

.electricProd__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 36px;
}

.electricProd__title::after {
    content: '';
    width: 1px;
    height: 48px;
    background-color: var(--primaryGreenColor);
}

.electricProd__countTitle {
    display: inline-flex;
    align-items: center;
    gap: 8px;
   font-size: 24px;
   text-transform: none;
}

.electricProd__count {
    font-size: 48px;
    font-weight: 700;
    color: var(--primaryGreenColor);
}