.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all 0.5s var(--timingFunction);
}

.headerWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 20px;
    max-width: 1280px;
}

@media screen and (min-width: 768px) {
    .headerWrap {
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media screen and (min-width: 1280px) {
    .headerWrap {
        top: 24px;
        padding-left: 100px;
        padding-right: 100px;
        margin: 0 auto;
    }
}

.header.headerWrap__background {
    background-color: var(--bgdColorHeader);
}

.header__wrapForButton {
    display: flex;
    gap: 12px;
}

.headerButton {
    width: 40px;
    height: 39px;
    background-color: var(--bgdColorBtnHeader);
    border-radius: 500px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    transition: all 250ms var(--timingFunction);
}

.headerButton:hover,.headerButton:focus {
    background-color: var(--primaryGreenColor);
}