.arrow__button {
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid var(--primaryTextColor);
    padding: 15px;
}

.arrow__button:hover,
.arrow__button:focus {
    border-color: var(--primaryGreenColor);
}

.arrow__button:hover svg {
    stroke: var(--primaryGreenColor);
}