.footer {
    padding-top: 36px;
    padding-bottom: 24px;
}

.footer::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--primaryGreenColor);
    margin-bottom: 24px;
}

.social__additional {
    display: none;
}

.footer__logoButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.social__wrap {
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 40px;
        padding-bottom: 28px;
    }

    .social__additional {
        display: flex;
        margin-left: -200px;
    }

    .social__wrap {
    display: none;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        padding-top: 44px;
    }
}