@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  /* Variables */
  --mainBackgroung: #F3F5FA;
  --bgdColorBtnHeader: #DCEFD8;
  --bgdColorHeader: #FFF;
  --bgdColorCardBenefit: #EAEDF1;
  --primaryGreenColor: #97D28B;
  --primaryTextColor: #173D33;
  --colorTextInput:#828382;
  --timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
  --bgdColorModalTab: rgba(23, 61, 51, 0.25);
  --bgdColorModalDesc: rgba(255, 255, 255, 0.75);
  --defaultColorNavLink:rgba(255, 255, 255, 0.25);
  --colorErrorMessage:#D28B8B;

  font-family: 'Fira Sans', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;

  color: var(--primaryTextColor);
  background-color: var(--mainBackgroung);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body {
  margin: 0 auto;
  /* display: flex;
  place-items: center; */
  min-width: 360px;
  max-width: 1280px;
  height: 100vh;
}

/* Reset CSS */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*::after,::before{
  display: flex;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

h1,h2,h3,h4,h5,h6 {
  color: inherit;
  font-family: 'Oswald', sans-serif;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 28px;
  font-style: normal;
}

img {
  display: flex;
  vertical-align: top;
  max-width: 100%;
}

svg {
  display: flex;
  stroke-width: 0;
  stroke: var(--primaryTextColor);
  fill: transparent;
  transition: all 0.25s var(--timingFunction);
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

button {
  transition: border-color 0.25s var(--timingFunction);
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}